*::-webkit-scrollbar {
    width: 0em;
}

body {
    animation: rightToLeft 1s ease-in-out;
}

@keyframes rightToLeft {
    0% {
        transform: translateX(100%);
        background-color: #5c6ac4;
    }
    100% {
        transform: translateX(0%);
        background-color: none;
    }
}

.bartender {
    position: absolute;
    bottom: 0;
    right: 0;
    top: 0;
    left: 0;
    pointer-events: none;
}

.bar {
    height: 100vh;
    width: 100%;
    background-color:#7f06f8;
    animation-name: tend;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    transform: translateX(-100%);
    animation-play-state: paused;
}

@keyframes tend {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}