{{#partial "agregarAlHead"}}


{{/partial}}
{{#partial "contenido"}}

    <h1 class="text-3xl font-semibold text-gray-900 my-4">
       Listado de incidentes a revisar
    </h1>

    <section class="text-gray-600 body-font p-2 flex justify-center flex-wrap gap-5">
        {{#if incidentesARevisar.length}}
            {{#each incidentesARevisar}}
                <a class="rounded-lg w-3/4 bg-white opacity-75 shadow gap-2 items-center hover:shadow-lg transition delay-150 duration-300 ease-in-out hover:scale-105 transform secondary justify-center flex flex-row p-4" href="/revisionDeIncidentes/{{this.id}}">

                    <div>
                        <img src="/img/warning.png" alt="warning" class="h-6 w-6">
                    </div>

                    <div>
                        <p class="text-black p-1 font-semibold"> {{this.prestacionDeServicio.nombre}} </p>
                    </div>

                    <div>
                        <p class="text-sm text-black"> {{this.observaciones}} </p>
                    </div>

                </a>
            {{/each}}
        {{else}}
            <p class="text-red-700 text-center">No hay incidentes a revisar</p>
        {{/if}}


    </section>


{{/partial}}
{{> templates/templateBase}}