{{#partial "agregarAlHead"}}
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.49.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.49.0/mapbox-gl.css' rel='stylesheet' />

{{/partial}}
{{#partial "contenido"}}

    <div class="rounded-md bg-indigo-500 p-4">
        <section class="text-gray-600 body-font relative">
            <div class="container px-5 py-24 mx-auto flex sm:flex-nowrap flex-wrap">
                <div id = 'map'></div>
            </div>
        </section>
    </div>


    {{#each incidentesARevisar}}
        <div id="longitud">
            {{this.prestacionDeServicio.ubicacionExacta.longitud}}
        </div>
    {{/each}}

    {{#each incidentesARevisar}}
        <div id="latitud">
            {{this.prestacionDeServicio.ubicacionExacta.latitud}}
        </div>
    {{/each}}




    <script>
        var longitud = document.querySelector('#longitud').innerHTML;
        var latitud = document.querySelector('#latitud').innerHTML;
        mapboxgl.accessToken = 'pk.eyJ1IjoiZ3JpY2NlbGxpIiwiYSI6ImNsbm02enBteTI1bTYybW1zcm42eWU5OXYifQ.LyEGBVsVDCzzhzNbdD32tg'; // Nuestro Token de acceso
        var map = new mapboxgl.Map({
            container: 'map', // id del contenedor
            style: 'mapbox://styles/mapbox/streets-v9', // localización del mapa de estilo
            center: [latitud,longitud], // Posición inicial
            zoom: 13 // Zoom inicial
        });
    </script>

{{/partial}}
{{> templates/template}}