{{#partial "agregarAlHead"}}


{{/partial}}
{{#partial "contenido"}}

    <h1 class="text-3xl font-semibold text-gray-900">
       Listado de incidentes a revisar
    </h1>

    <section class="text-gray-600 body-font container p-10 mx-auto flex justify-center flex-wrap gap-5">

            <a class="rounded-lg w-3/4 grid grid-cols-12 bg-white opacity-75 shadow gap-2 items-center hover:shadow-lg transition delay-150 duration-300 ease-in-out hover:scale-105 transform" href="/revisionDeIncidentes/1">

                <div class="col-span-12 md:col-span-1">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke="#2563eb">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7v8a2 2 0 002 2h6M8 7V5a2 2 0 012-2h4.586a1 1 0 01.707.293l4.414 4.414a1 1 0 01.293.707V15a2 2 0 01-2 2h-2M8 7H6a2 2 0 00-2 2v10a2 2 0 002 2h8a2 2 0 002-2v-2" />
                    </svg>
                </div>

                <div class="col-span-11 xl:-ml-5">
                    <p class="text-indigo-500 p-1 font-semibold">Nombre de la Prestacion de Servicio</p>
                </div>

                <div class="md:col-start-2 col-span-11 xl:-ml-5">
                    <p class="text-sm text-gray-800 font-light"> Prestacion de Servicio | Entidad Prestadora  </p>
                </div>

            </a>


    </section>


{{/partial}}
{{> templates/template}}