<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Comunidades</title>
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="style.css">
  <script src="script.js"></script>
</head>

<body class="flex flex-col h-screen background md:bg-gradient-to-l from-indigo-400 via-purple-500 to-cyan-500">

  <header class="text-gray-600 body-font">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
      <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round"
          stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full"
          viewBox="0 0 24 24">
          <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
        </svg>
        <span class="ml-3 text-xl">
          Monitoreo de Estado de Servicios
        </span>
      </a>
      <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
        <a class="mr-5 text-white hover:text-gray-900">Comunidades</a>
      </nav>
      <button
        class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0">
        Perfil
      </button>
    </div>
  </header>

  <main class="mb-auto p-10">

    <section class="text-gray-600 body-font container p-10 mx-auto flex justify-center flex-wrap gap-5">
      <button
        class="lg:w-1/5 md:w-2/3 p-4 w-3/4 hover:bg-indigo-300 rounded transition duration-500 text-left shadow-md">
        <a class="block relative h-48 rounded overflow-hidden">
          <img alt="ecommerce" class="object-cover object-center w-full h-full block"
            src="https://dummyimage.com/420x260">
        </a>
        <div class="mt-4">
          <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">Comunidad</h3>
          <h2 class="text-gray-900 title-font text-lg font-medium">Trenes</h2>
          <p class="mt-1">Baños | Escaleras Mecanicas | Ascensores </p>
        </div>
      </button>
      <button
        class="lg:w-1/5 md:w-2/3 p-4 w-3/4 hover:bg-indigo-300 rounded transition duration-500 text-left shadow-md">
        <a class="block relative h-48 rounded overflow-hidden">
          <img alt="ecommerce" class="object-cover object-center w-full h-full block"
            src="https://dummyimage.com/421x261">
        </a>
        <div class="mt-4">
          <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">Comunidad</h3>
          <h2 class="text-gray-900 title-font text-lg font-medium">Silla de Rueda</h2>
          <p class="mt-1">Ascensores</p>
        </div>
      </button>
      <button
        class="lg:w-1/5 md:w-2/3 p-4 w-3/4 hover:bg-indigo-300 rounded transition duration-500 text-left shadow-md">
        <a class="block relative h-48 rounded overflow-hidden">
          <img alt="ecommerce" class="object-cover object-center w-full h-full block"
            src="https://dummyimage.com/422x262">
        </a>
        <div class="mt-4">
          <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">Comunidad</h3>
          <h2 class="text-gray-900 title-font text-lg font-medium">Neptune</h2>
          <p class="mt-1">.00</p>
        </div>
      </button>
      <button
        class="lg:w-1/5 md:w-2/3 p-4 w-3/4 hover:bg-indigo-300 rounded transition duration-500 text-left shadow-md">
        <a class="block relative h-48 rounded overflow-hidden">
          <img alt="ecommerce" class="object-cover object-center w-full h-full block"
            src="https://dummyimage.com/423x263">
        </a>
        <div class="mt-4">
          <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">Comunidad</h3>
          <h2 class="text-gray-900 title-font text-lg font-medium">The 400 Blows</h2>
          <p class="mt-1">.40</p>
        </div>
      </button>
      <button
        class="lg:w-1/5 md:w-2/3 p-4 w-3/4 hover:bg-indigo-300 rounded transition duration-500 text-left shadow-md">
        <a class="block relative h-48 rounded overflow-hidden">
          <img alt="ecommerce" class="object-cover object-center w-full h-full block"
            src="https://dummyimage.com/424x264">
        </a>
        <div class="mt-4">
          <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">Comunidad</h3>
          <h2 class="text-gray-900 title-font text-lg font-medium">The Catalyzer</h2>
          <p class="mt-1">.00</p>
        </div>
      </button>
      <button
        class="lg:w-1/5 md:w-2/3 p-4 w-3/4 hover:bg-indigo-300 rounded transition duration-500 text-left shadow-md">
        <a class="block relative h-48 rounded overflow-hidden">
          <img alt="ecommerce" class="object-cover object-center w-full h-full block"
            src="https://dummyimage.com/425x265">
        </a>
        <div class="mt-4">
          <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">Comunidad</h3>
          <h2 class="text-gray-900 title-font text-lg font-medium">Shooting Stars</h2>
          <p class="mt-1">.15</p>
        </div>
      </button>
      <button
        class="lg:w-1/5 md:w-2/3 p-4 w-3/4 hover:bg-indigo-300 rounded transition duration-500 text-left shadow-md">
        <a class="block relative h-48 rounded overflow-hidden">
          <img alt="ecommerce" class="object-cover object-center w-full h-full block"
            src="https://dummyimage.com/427x267">
        </a>
        <div class="mt-4">
          <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">Comunidad</h3>
          <h2 class="text-gray-900 title-font text-lg font-medium">Neptune</h2>
          <p class="mt-1">.00</p>
        </div>
      </button>
      <button
        class="lg:w-1/5 md:w-2/3 p-4 w-3/4 hover:bg-indigo-300 rounded transition duration-500 text-left shadow-md">
        <a class="block relative h-48 rounded overflow-hidden">
          <img alt="ecommerce" class="object-cover object-center w-full h-full block"
            src="https://dummyimage.com/428x268">
        </a>
        <div class="mt-4">
          <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">Comunidad</h3>
          <h2 class="text-gray-900 title-font text-lg font-medium">The 400 Blows</h2>
          <p class="mt-1">.40</p>
        </div>
      </button>
    </section>


  </main>

  <footer class="text-gray-600 body-font">
    <div class="container p-5 mx-auto flex items-center sm:flex-row flex-col">
      <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round"
          stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full"
          viewBox="0 0 24 24">
          <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
        </svg>
        <span class="ml-3 text-xl">
          Monitoreo de Estado de Servicios
        </span>
      </a>
      <p class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4">© 2023
        Diseño de Sistemas UTN —
        <a href="https://github.com/dds-utn/2023-tpa-mama-grupo-06" class="text-gray-600 ml-1" rel="noopener noreferrer"
          target="_blank">Github</a>
      </p>
    </div>
  </footer>

</body>

</html>