<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil de Usuario</title>
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
</head>
<body class="flex flex-col h-screen background md:bg-gradient-to-l from-indigo-400 via-purple-500 to-cyan-500">
    <header class="text-gray-600 body-font">
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
        <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full" viewBox="0 0 24 24">
            <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
            </svg>
            <span class="ml-3 text-xl">
                Monitoreo de Estado de Servicios
            </span>
        </a>
        <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
            <a class="mr-5 text-white hover:text-gray-900" href="./comunidades.html">Comunidades</a>
            <a class="mr-5 text-white hover:text-gray-900" >Incidentes</a>
            <a class="mr-5 text-white hover:text-gray-900" href="./perfil.html">Perfil</a>
        </nav>
        <button class="items-center bg-red-400 border-0 py-1 px-3 focus:outline-none hover:bg-red-600 rounded text-base mt-4 md:mt-0 w-20 h-8">
            <i class="fas fa-sign-out-alt text-white"></i>
        </button>
        </div>
  </header>
      
  <main class="mb-auto p-10">
    <div class="container mx-auto">
      <!-- Perfil de Usuario -->
      <div class="bg-white p-5 rounded-lg shadow-lg mb-6">
        <h2 class="text-2xl font-semibold mb-4">Perfil de Usuario</h2>
        <form>
          <div class="mb-4">
            <label for="nombre" class="block text-gray-700 font-bold">Nombre:</label>
            <input type="text" id="nombre" name="nombre" class="border border-gray-300 p-2 w-full" required>
          </div>
          <div class="mb-4">
            <label for="apellido" class="block text-gray-700 font-bold">Apellido:</label>
            <input type="text" id="apellido" name="apellido" class="border border-gray-300 p-2 w-full" required>
          </div>
          <div class="mb-4">
            <label for="email" class="block text-gray-700 font-bold">Correo Electrónico:</label>
            <input type="email" id="email" name="email" class="border border-gray-300 p-2 w-full" required>
          </div>
          <div class="mb-4">
            <label for="telefono" class="block text-gray-700 font-bold">Teléfono:</label>
            <input type="tel" id="telefono" name="telefono" class="border border-gray-300 p-2 w-full" required>
          </div>
          <div class="mb-4">
            <label for="notificacion" class="block text-gray-700 font-bold">Método de Notificación:</label>
            <select id="notificacion" name="notificacion" class="border border-gray-300 p-2 w-full" required>
              <option value="email">Correo Electrónico</option>
              <option value="sms">SMS</option>
              <option value="whatsapp">WhatsApp</option>
            </select>
          </div>
          <button type="submit" class="bg-indigo-500 text-white py-2 px-4 rounded-full hover:bg-indigo-600">Guardar</button>
        </form>
      </div>
      
      <!-- Intereses -->
      <div class="bg-white p-5 rounded-lg shadow-lg mb-6">
        <h2 class="text-2xl font-semibold mb-4">Intereses</h2>
        <div class="slider-container overflow-hidden relative">
          <div class="slider-content flex">
            <!-- Tarjeta de Interés 1 -->
            <div class="slide bg-white p-4 rounded-lg mr-4">
              <h2 class="text-lg font-semibold">Interés 1</h2>
              <p class="text-sm text-gray-500">Descripción del interés 1</p>
            </div>
            
            <!-- Tarjeta de Interés 2 -->
            <div class="slide bg-white p-4 rounded-lg mr-4">
              <h2 class="text-lg font-semibold">Interés 2</h2>
              <p class="text-sm text-gray-500">Descripción del interés 2</p>
            </div>
            
            <!-- Tarjeta de Interés 3 -->
            <div class="slide bg-white p-4 rounded-lg">
              <h2 class="text-lg font-semibold">Interés 3</h2>
              <p class="text-sm text-gray-500">Descripción del interés 3</p>
            </div>
          </div>
        </div>
      </div>
      
      <!-- Membresías -->
      <div class="bg-white p-5 rounded-lg shadow-lg mb-6">
        <h2 class="text-2xl font-semibold mb-4">Membresías</h2>
        <div class="slider-container overflow-hidden relative">
          <div class="slider-content flex transition-transform ease-in-out duration-300">
            <!-- Tarjeta de Membresía 1 -->
            <div class="slide bg-white p-4 rounded-lg mr-4">
              <h2 class="text-lg font-semibold">Membresía 1</h2>
              <p class="text-sm text-gray-500">Descripción de la membresía 1</p>
            </div>
            
            <!-- Tarjeta de Membresía 2 -->
            <div class="slide bg-white p-4 rounded-lg mr-4">
              <h2 class="text-lg font-semibold">Membresía 2</h2>
              <p class="text-sm text-gray-500">Descripción de la membresía 2</p>
            </div>
            
            <!-- Tarjeta de Membresía 3 -->
            <div class="slide bg-white p-4 rounded-lg">
              <h2 class="text-lg font-semibold">Membresía 3</h2>
              <p class="text-sm text-gray-500">Descripción de la membresía 3</p>
            </div>
          </div>
        </div>
      </div>
    
    
    
    </div>
      
  </main>

  <footer class="text-gray-600 body-font">
    <div class="container p-5 mx-auto flex items-center sm:flex-row flex-col">
        <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full" viewBox="0 0 24 24">
            <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
            </svg>
            <span class="ml-3 text-xl">
              Monitoreo de Estado de Servicios
            </span>
        </a>
        <p class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4">© 2023 Diseño de Sistemas UTN —
            <a href="https://github.com/dds-utn/2023-tpa-mama-grupo-06" class="text-gray-600 ml-1" rel="noopener noreferrer" target="_blank">Github</a>
        </p>
        </div>
  </footer>
</body>
</html>