<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monitoreo estados y servicios</title>
    <link
            href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
            rel="stylesheet"
    />
    <link
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
            rel="stylesheet"
    />
    <link rel="stylesheet" href="\css\style.css">
    <link rel="stylesheet" href="\css\background.css">
    <link rel="stylesheet" href="\css\incidentes.css">
    <script src="\js\script.js"></script>
    <script src="\js\incidentes.js"></script>
    {{#block "agregarAlHead"}}
    {{/block}}
</head>
<body class="h-screen flex flex-col bg-gradient-to-l from-indigo-400 via-purple-500 to-cyan-500">
    <div class="flex justify-center items-center h-full w-full">
        <div class="md:flex flex-col justify-center items-center w-1/2 h-full p-10 hidden">
            <h1 class="text-6xl font-bold text-gray-800 mb-1">Monitoreo de estados y servicios</h1>
            <img src="\img\logo.png" alt="logo" class="w-1/2">
        </div>
        {{#block "auth"}}
        {{/block}}
    </div>
</body>
</html>