{{#partial "contenido"}}
    <div class="flex md:flex-row flex-col h-full items-center gap-10 justify-center">
        <div class="card-container">
            <a class="card" href="/admin/usuarios">
                <h3 class="text-white text-2xl font-bold">Usuarios</h3><br>
                <div class="layers">
                    <div class="layer"></div>
                    <div class="layer"></div>
                    <div class="layer"></div>
                    <div class="layer"></div>
                    <div class="layer"></div>
                    <div class="layer"></div>
                    <div class="layer"></div>
                    <div class="layer"></div>
                    <div class="layer"></div>
                    <div class="layer"></div>
                </div>
            </a>
        </div>

        <div class="card-container">
            <a class="card" href="/admin/cargaManual">
                <h3 class="text-white text-2xl font-bold">Carga Manual</h3><br>
                <div class="layers">
                    <div class="layer"></div>
                    <div class="layer"></div>
                    <div class="layer"></div>
                    <div class="layer"></div>
                    <div class="layer"></div>
                    <div class="layer"></div>
                    <div class="layer"></div>
                    <div class="layer"></div>
                    <div class="layer"></div>
                    <div class="layer"></div>
                </div>
            </a>
        </div>

        <div class="card-container">
            <a class="card" href="admin/cargaMasiva">
                <h3 class="text-white text-2xl font-bold">Carga Masiva</h3><br>
                <div class="layers">
                    <div class="layer"></div>
                    <div class="layer"></div>
                    <div class="layer"></div>
                    <div class="layer"></div>
                    <div class="layer"></div>
                    <div class="layer"></div>
                    <div class="layer"></div>
                    <div class="layer"></div>
                    <div class="layer"></div>
                    <div class="layer"></div>
                </div>
            </a>
        </div>
    </div>

{{/partial}}
{{> templates/templateBase }}
