{{#partial "contenido"}}
    <div class="carrousel md:flex-row flex-col md:p-0 p-14">
        <div>
            <a class="component flex flex-row" href="/admin/usuarios">
                <h2>Usuarios</h2>
            </a>
        </div>
        <div>
            <a class="component flex flex-row" href="/admin/cargaManual">
                <h2>Carga Manual</h2>
            </a>
        </div>
        <div>
            <a class="component flex flex-row" href="/admin/cargaMasiva">
                <h2>Carga Masiva</h2>
            </a>
        </div>
        <div>
            <a class="component flex flex-row" href="/admin/config">
                <h2>Configuracion</h2>
            </a>
        </div>
    </div>

{{/partial}}
{{> templates/templateBase }}
