{{#partial "contenido"}}
    <div class="flex md:flex-row flex-col h-full items-center gap-10 justify-center">
        <div class="card-container">
            <a class="card" href="/comunidades">
                <h3 class="text-white text-2xl font-bold">Comunidades</h3><br>
                <div class="layers">
                    <div class="layer"></div>
                    <div class="layer"></div>
                    <div class="layer"></div>
                    <div class="layer"></div>
                    <div class="layer"></div>
                    <div class="layer"></div>
                    <div class="layer"></div>
                    <div class="layer"></div>
                    <div class="layer"></div>
                    <div class="layer"></div>
                </div>
            </a>
        </div>

        <div class="card-container">
            <a class="card" href="/revisionDeIncidentes">
                <h3 class="text-white text-2xl font-bold">Revision de Incidentes</h3><br>
                <div class="layers">
                    <div class="layer"></div>
                    <div class="layer"></div>
                    <div class="layer"></div>
                    <div class="layer"></div>
                    <div class="layer"></div>
                    <div class="layer"></div>
                    <div class="layer"></div>
                    <div class="layer"></div>
                    <div class="layer"></div>
                    <div class="layer"></div>
                </div>
            </a>
        </div>

        <div class="card-container">
            <a class="card" href="/perfil">
                <h3 class="text-white text-2xl font-bold">Perfil</h3><br>
                <div class="layers">
                    <div class="layer"></div>
                    <div class="layer"></div>
                    <div class="layer"></div>
                    <div class="layer"></div>
                    <div class="layer"></div>
                    <div class="layer"></div>
                    <div class="layer"></div>
                    <div class="layer"></div>
                    <div class="layer"></div>
                    <div class="layer"></div>
                </div>
            </a>
        </div>
    </div>

{{/partial}}
{{> templates/templateBase }}